<div class="container">
    <div class="d-flex justify-content-around align-items-center">
        <div class="w-100">
            <h1 class="m-2">FORUM</h1>
            <p class="align-self-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt labore reprehenderit ipsa, architecto consequuntur magnam distinctio suscipit placeat ullam ratione rerum soluta amet vero iste repudiandae aperiam molestias sint illo?</p>
            <a href="/aboutus"><button type="button" class="btn  btn-lg">Learn More</button></a>
        </div>
        <div class="ml-5">
            <img alt="imagevector" src="../assets/test.jpg" class="w-100">
        </div>
    </div>
</div>